<!--
<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
-->
<h1>Hello, Html !</h1>

<h1>h1標題</h1>
<p>p段落1...</p>
<h2>h2標題</h2>
<p>p段落2...</p>
<h3>h3標題</h3>
<p>p段落3...</p>
<h4>h4標題</h4>
<p>p段落4...</p>
<h5>h5標題</h5>
<p>p段落5...</p>
<h6>h6標題</h6>
<p>p段落6...</p>

<p>段落<em>em強調</em>...</p>
<p>段落<strong>strong更強調</strong>...</p>

<a href="http://www.google.com.tw" target="提示訊息">連結</a>

<img src="" alt="備註說明">

<ul>
  <li>無順序清單1</li>
  <li>無順序清單2</li>
  <li>無順序清單3</li>
</ul>

<ol>
  <li>有順序清單1</li>
  <li>有順序清單2</li>
  <li>有順序清單3</li>
</ol>

<dl>
  <dt>定義標題</dt>
  <dd>定義描述</dd>
</dl>

<div>
  <p>換行區塊1</p>
  <p>換行區塊1</p>
</div>
<div>
  <p>換行區塊2</p>
  <p>換行區塊2</p>
</div>

<span>單行區塊1</span>
<span>單行區塊2</span>

<pre>
     保留空白  以及
換行
<code>
  void function(){
    //TODO
  }
</code>
</pre>

<div>
  <a href="http://www.w3schools.com/tags/default.asp">所有 HTML 標簽列表</a>
</div>
<%#= link_to "商品", GoodsController.create %>
<%= link_to "首頁", root_path %>